.icon-rating{
	color: red;
}
.messenger{
	background-color: blue;
}
.input-group{
	width: 75%;
}
.radio{
	margin-left: 35px;
}
.btn-info{
	    background-color: #0075ff;
}
#doimaumota{
	font-weight: bold;
}
h4{
	padding-bottom: 10px;
}
.input-group{
	padding-top: 10px;
	padding-bottom: 10px;
}
