#img-ico{
	width: 150px;
	height: 150px;
	margin-bottom: 15px;
}
.col-md-12.title h1{
	color: red;
	font-size: 50px;
	font-family: Garamond;
	font-weight: bold;
}
#LoiChao p{
	color: #666;
}
#LoiChao h4{
	font-weight: bold;
}
.progress{
	height: 10px;
}